@import "../../variable.less";

#main {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

#container {
    width: 100%;
    padding-top: 220px;
}

// :global(.route-page-enter) {
//     opacity: 0.01;
//     transition: opacity 200ms ease-in;
// }

// :global(.route-page-enter):global(.route-page-enter-active) {
//     opacity: 1;
// }

// :global(.route-page-leave) {
//     opacity: 1;
//     transition: opacity 200ms ease-in;
// }

// :global(.route-page-leave):global(.route-page-leave-active) {
//     opacity: 0;
// }

:global(.route-page-enter) {
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 450ms;
}

:global(.route-page-enter):global(.route-page-enter-active) {
    opacity: 1;
}

:global(.route-page-leave) {
    opacity: 1;
    position: absolute;
    top: 0;
    transition: all 450ms;
}

:global(.route-page-leave):global(.route-page-leave-active) {
    opacity: 0;
}

.TransitionGroup {
    width: 100%;
    height: 100%;
    position: relative;
}