.PostCard {
    composes: card from '../card/card.less';
    composes: card-with-img from '../card/card.less';
    width: e("calc(100% - 16px)");
}

.CardImage {
    composes: CardImage from '../card/card.less';
}

.CardBottom {
    composes: CardBottom from '../card/card.less';
}