<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>hexo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!--<script>
        var disqus_developer = 1
    </script>-->
    <script type="text/javascript">
        var duoshuoQuery = { short_name: "huaji-blog", theme: "none" };
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript'; ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
<script type="text/javascript" src="bundle.js?deaf4280f53a7def3aa3"></script></body>

</html>