<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= config.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript">
    var duoshuoQuery = { short_name: <%- JSON.stringify(theme.comment.duoshuo.shortName) %>, theme: "none" }
    window.rootUrl = <%- JSON.stringify(config.root) %>
  </script>
  <script type="text/javascript" src="<%= config.root %>bundle.js"></script>
</body>
</html>