head:
    favicon: "http://q1.qlogo.cn/headimg_dl?bs=1106996185&dst_uin=1106996185&spec=100&url_enc=0&referer=bu_interface&term_type=PC"

img:
    avatar: "http://q1.qlogo.cn/headimg_dl?bs=1106996185&dst_uin=1106996185&spec=100&url_enc=0&referer=bu_interface&term_type=PC"
    left_pic: 
      - "/img/home.webp"
    right_pic:
      - "/img/right_pic.webp"
    post_thumbnail: 
      - "/img/二次元/下雨.webp"
    drawerHeaderBg:
      - "/img/drawerCover.webp"

uiux:
    slogan: "拼命想抓住一些东西！"
    defaultPrimaryColor: "blue"
    defaultAccentColor: "red"

comment:
    duoshuo:
        shortName: ""

Drawer:
    -
      title: 首页
      type: sitelink
      href: /
      icon: home
    -
      title: hr
      type: hr
    -
      title: 关于我
      type: page
      name: 关于我
      icon: account_circle
    -
      title: 搜索
      type: sitelink
      href: /search/
      icon: search
    -
      title: 联系我
      icon: contact_phone
      nested: 
        - 
          title: Email
          type: link
          href: mailto:cneyhn@email.com
          icon: mail_outline
        -
          title: Github
          type: link
          href: https://github.com/EYHN
        -
          title: QQ
          type: link
          href: http://wpa.qq.com/msgrd?v=3&uin=1106996185&site=qq&menu=yes

colorPicker: false