html {
  overflow-x: hidden;
}

body{
  margin: 0px;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:global(.flexFull) {
  flex-grow: 1;
}

a{
  text-decoration: none;
}